doctype html
html
  head
    meta(charset='utf-8')      
    title Apollo
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body
    
    
    #user-creation
      h1 Battle Ship
      input#email(type='email', placeholder='email')
      input#password(type='password', placeholder='password')
      button#create-user Create User
      button#login-user Login User
      button#logout-user Logout User

      button#start-user Start
    
    div#boads
      div#ships
      div#p1
        h3 Player 1
        table#board1
            tbody
              - for(var y = 0; y < 10; y++) 
                tr
                  -for(var x = 0; x < 10; x++)
                   td(data-x=x, data-y=y) 
      div#p2  
      h3 Player 2
        table#board2
             tbody
               - for(var y = 0; y < 10; y++) 
                 tr
                   -for(var x = 0; x < 10; x++)
                    td(data-x=x, data-y=y)



    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/jquery-ui/ui/jquery-ui.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
